body{
    background-image: url(../img/black.jpg);
    color: whitesmoke;
    text-align: justify;
    border-bottom: double 3px;
    border-bottom-color: aqua;
    padding-bottom: 3%;
    font-family: 'Titillium Web', sans-serif;
       
}

input {
    margin-left: 45%;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    text-decoration: underline;
    text-decoration-color: aqua;
    border-bottom: double 3px;
    border-bottom-color: aqua;

}

h2 {
    text-align: center;
    font-weight: bold;
    color: aqua;

}

h3 {
    padding-left: 2%;
    font-weight: bold;
    color: aqua;
    text-align: center;



}

.list{
    padding-left: 2%;
    list-style: none;
    

}

.button {
    background-color: aqua;
    border-radius: 4px;
    transition-duration: .5s;
    font-size: 24px;
    margin-left: 44%;
    
}

.button:hover {
    background-color: whitesmoke;

}
